.feedback {
  margin-bottom: 3rem;
}

.feedback-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.feedback-title span {
  margin-left: 10px;
  color: #f90;
}

.feedback-section {
  width: 60%;
  background-color: #19172e;
  margin: auto;
  border-radius: 10px;
  padding-top: 56px;
  padding-bottom: 20px;
}

.feedback-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #19172e;
}

.feedback-img {
  background-color: #19172e;
  width: 140px;
  height: 140px;
  position: relative;
  z-index: 1;
}

.feedback-infos img {
  width: 140px;
  border-radius: 100%;
}

.feedback-img::after {
  content: "";
  width: 145px;
  height: 134px;
  background-color: #f90;
  position: absolute;
  border-radius: 100%;
  left: 0;
  z-index: -1;
}

.coma {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
}

.feedback-img::before {
  content: "‘‘";
  font-size: 4rem;
  text-align: center;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  color: #fff;
  background-color: #f90;
  position: absolute;
  left: 1px;
  top: 1px;
  z-index: 4;
}

.feedback-section h4 {
  margin: 13px 0 7px 0;
  background-color: #19172e;
}

.position {
  color: #f90;
  background-color: #19172e;
}

.feedback-text p {
  background-color: #19172e;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 15px 40px;
}

.feedback-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19172e;
  gap: 10px;
}

.next-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #19172e;
  border: none;
  cursor: pointer;
}

.feedback-point {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.25);
}

.next-right-feedback {
  font-size: 32px;
  background-color: #19172e;
}

.next-left-feedback {
  rotate: 180deg;
}
