.container {
  width: 80%;
  margin: 5rem auto auto auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: calc(100vh - 80px);
}

.home h3 {
  font-size: 1.2rem;
  margin-bottom: 2.2rem;
  letter-spacing: 1.2px;
}

.container h1 {
  font-size: 4rem;
}

.spain {
  color: #f90;
}

.content {
  font-size: 2rem;
  margin: 2.2rem 0;
  letter-spacing: 1px;
  line-height: 1.2;
}

.home button {
  width: 150px;
  background-color: #f90;
  color: black;
  border: none;
  height: 45px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container {
    width: 100%;
    align-items: center;
  }

  .home {
    width: 90%;
  }

  .container h1 {
    font-size: 2.5rem;
    line-height: 1.4;
  }

  .content {
    font-size: 1.8rem;
  }
}
