* {
  background-color: #0e0c23;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

li,
a {
  text-decoration: none;
  background: #19172e;
}

.logo {
  color: #f90;
  font-weight: 600;
}

.navbar button,
.navbar button i {
  background: #19172e;
}

.navbar {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  height: 5rem;
  background-color: #19172e;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  background-color: #19172e;
}

.navbar ul li a {
  color: white;
  background-color: #19172e;
}

.navbar ul li a:hover {
  padding: 18px 35px;
  background-color: #2f2d42;
  border-radius: 5px;
}

.navbar ul li:last-child a {
  border: 1px solid #f90;
  padding: 10px 15px;
  font-size: 18px;
  margin-right: 15px;
  border-radius: 47px;
  color: #f90;
}

#mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    border: none;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    position: fixed;
    top: 0;
  }

  .navbar ul {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    position: fixed;
    top: 80px;
    right: 0;
    width: 300px;
    height: 100vh;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  .ul.active {
    right: -300px;
  }

  #mobile {
    display: block;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 25px;
  }

  .navbar ul li {
    margin-bottom: 25px;
    margin-left: 20px;
  }
}
